<style>
  agm-map {
      height: 300px;
      width: 600px;
    }
</style>

<div class="container">
<!-- <h1>Angular 2 + Google Maps Places Autocomplete</h1> -->
<!-- <div class="form-group">
  <input placeholder="search for location" (click)="getTheAddress(searchControl)"  autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
</div> -->
<agm-map [latitude]="latitude" [disableDefaultUI]=false [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
  <agm-marker *ngFor= "let m of markers; let i = index"
  (markerClick)="clickedMarker(m, i)"
  [latitude]="m.latitude" [longitude]="m.longitude"
  [markerDraggable]="m.draggable"
  (dragEnd)="markerDragEnd(m, $event)">
  <agm-info-window>
    <strong> {{ m.location }} </strong>
  </agm-info-window>
  </agm-marker>
</agm-map>
</div>