<div class="container-fluid" id="allPage">
<div class="landing">
    <h2>Welcome to</h2>
    <h1>Rolltop Desk</h1>
    <div class="row welcome-route">
       <div class="col-sm-4 white-back"><h6>Don't have an account?</h6> <h5><a class="blueLink" [routerLink]="['/signup']">Sign Up Here</a></h5></div>
       <div class="col-sm-4 white-back"><h6>Already have an account? </h6><h5><a class="blueLink"[routerLink]="['/login']">Log In</a></h5> </div>
    </div>  <!-- end of welcome-route div -->
</div> <!-- end of landing div-->
</div> <!-- end of allPage div-->


